.app-main {
  width: 70%;
  height: 100vh;
}

.app-main-note-edit,
.app-main-note-preview {
  height: 50vh;
}

.app-main-note-edit {
  padding: 20px 15px;
}

.app-main-note-edit input, textarea {
  display: block;
  border: 1px solid hsl(0, 0%, 87%);
  margin-bottom: 20px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 5px;
  resize: none;
  font-size: 16px;
}

.app-main-note-edit input {
  height: 50px;
  font-size: 2em;
}

.app-main-note-preview {
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.05);
}

.preview-title {
  padding: 15px 15px 0;
  margin: 0;
}

.markdown-preview {
  padding: 0 15px 0;
  line-height: 2em;
}

.no-active-note {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #999;
}

@media screen and (min-width: 690px) {
  .no-active-note {
    font-size: 2em;
  }
}